* {
    font-family: "Times New Roman", arial;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: white;
}

.tags {
    color: gray;
    text-align: left;
    font-size: 14px;
}

.front {
    border: 1px solid grey;
    margin: auto;
    margin-top: 2em;
    padding: 1em 0 1em 0;
}

.front-side {
    margin: auto;
    margin-bottom: 1em;
    padding: 0.2em 0 0.2em 0;
    width: 100%;
    border: 1px solid grey;
}

img {
    vertical-align: middle;
    max-width: 65%;
}

/* Telephone en portrait */
@media(min-width: 0px) {
    * {
        font-size: 16px;
    }

    .front {
        font-size: 20px;
    }

    .front-side {
        font-size: 18px;
    }
}

/* Telephone en paysage */
@media(min-width: 420px) {
    * {
        font-size: 16px;
    }

    .front {
        font-size: 22px;
    }

    .front-side {
        font-size: 20px;
    }
}

/* Grand ordi */
@media(min-width: 920px) {
    * {
        font-size: 18px;
    }

    .front {
        font-size: 24px;
    }

    .front-side {
        font-size: 22px;
    }
}