/* Telephone */
@media(min-width: 0px) {
	.card {
		font-family: "Times New Roman", arial;
		font-size: 1em;
		text-align: center;
		color: black;
		background-color: white;
	}

	.tags {
		color: gray;
		text-align:left;
		font-size: 10px;
	}

	.front {
		border: 1px solid grey;
		//box-shadow: 3px 3px 3px grey;
		margin: auto;
		margin-top: 2em;
		padding: 1em 0 1em 0;
		font-size: 2em;
	}

	.front-side {
		margin: auto;
		margin-bottom: 1em;
		width: 100%;
		border: 1px solid grey;
		//box-shadow: 1px 1px 1px grey;
	}

	.back {
	}

	img {
		vertical-align: middle;
	}
}

/* Petit ordi et One Plus */
@media(min-width: 400px) {
	.card {
		font-family: "Times New Roman", arial;
		font-size: 0.7em;
		text-align: center;
		color: black;
		background-color: white;
	}

	.tags {
		color: gray;
		text-align:left;
		font-size: 14px;
	}

	.front {
		border: 1px solid grey;
		//box-shadow: 3px 3px 3px grey;
		margin: auto;
		margin-top: 2em;
		padding: 1em 0 1em 0;
		font-size: 2em;
	}

	.front-side {
		margin: auto;
		margin-bottom: 1em;
		width: 100%;
		border: 1px solid grey;
		font-size: 1.5em;
		//box-shadow: 1px 1px 1px grey;
	}

	.back {
		font-size: 1.4em;
	}
}

/* Grand ordi */
@media(min-width: 700px) {
	.card {
		font-family: "Times New Roman", arial;
		font-size: 1.3em;
		text-align: center;
		color: black;
		background-color: white;
	}

	.tags {
		color: gray;
		text-align:left;
		font-size: 0.7em;
	}

	.front {
		border: 1px solid grey;
		//box-shadow: 3px 3px 3px grey;
		margin: auto;
		margin-top: 1em;
		padding: 1em;
		font-size: 1.5em;
	}

	.front-side {
		margin: auto;
		width: 100%;
		border: 1px solid grey;
		margin-bottom: 1em;
		//box-shadow: 1px 1px 1px grey;
		font-size: 1em;
	}

	.back {
		font-size: 1em;
	}
}
