/* GLOBAL */
* {
    font-family: "Times New Roman", arial;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: white;
}

.tags {
    color: gray;
    text-align: left;
}

.front {
    border: 1px solid red;
    margin: auto;
    margin-top: 2em;
    padding: 1em 0 1em 0;
}

.front-side {
    margin: auto;
    margin-bottom: 1em;
    width: 100%;
    text-decoration: underline;
}

.formula {
    border: 1px solid red;
    padding: 10px;
    margin: auto;
}

.details {
    margin-left: 1em;
    text-align: left;
}

img {
    vertical-align: middle;
}

table {
    margin: auto;
}

/* Telephone portrait */
@media(min-width: 0px) {
    * {
        font-size: 16px;
    }

    .tags {
        font-size: 14px;
    }

    .front {
        font-size: 20px;
    }

    .front-side {
        font-size: 18px;
    }

    .formula {}

    .details {}
}

/* Telephone paysage */
@media(min-width: 420px) {
    * {
        font-size: 16px;
    }

    .tags {}

    .front {
        font-size: 22px;
    }

    .front-side {
        font-size: 20px;
    }

    .formula {}

    .details {}
}

/* Ordi et tablette */
@media(min-width: 920px) {
    * {
        font-size: 18px;
    }

    .tags {}

    .front {
        font-size: 24px;
    }

    .front-side {
        font-size: 22px;
    }

    .formula {}

    .details {}
}