/* GLOBAL */
* {
    font-family: "Times New Roman", arial;
    text-align: left;
    color: black;
    background-color: white;
}

/* margins by default */
body {
    margin: 20px 20px 20px 20px;
}

.tags, .tags p {
    width: 96%;
    color: gray;
    text-align: left;
    font-size: 14px;
}

#count {
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 0px 0px 0px 0px;
    /*margin: 0px 7px 0px 0px;*/
    text-align: right;
}

.front {
    border: 1px solid blue;
    margin: 2em 0 0 0;
    padding: 1em 0.2em 1em 0.2em;
    text-align: center;
}

.front-side {
    margin-bottom: 1em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    border: 1px solid blue;
    text-align: center;
}

.back {
    text-align: left;
}

sub, sup {
    font-size: 60%;
    color: inherit;
}

.def {
    text-decoration-color: crimson;
}

strong, b, u {
    font-size: 1em;
    color: inherit;
}

span {
    font-size: 1em;
}

em, i {
    font-size: 104%;
}

ul,
ol {
    padding-left: 17px;
}

ul li,
ol li {
    padding: 0.5em 0 0 0;
}

li:first-child {
    padding-top: 0px;
}

ul ul li,
ol ol li,
ul ol li,
ol ul li {
    font-size: 0.94em;
    padding: 0.3em 0 0 0;
}

ul ul ul,
ul ol ul,
ol ul ul,
ol ol ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 1em;
}

ul ul ul>li:before,
ul ol ul>li:before,
ol ul ul>li:before,
ol ol ul>li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

ul ul ul li,
ul ol ul li,
ol ul ul li,
ol ol ul li {
    font-size: 90%;
    padding: 0 0 0.15em 0;
}

.latex {
    vertical-align: text-top;
}

.small-img {
    display: block;
    max-width: 25% !important;
    max-height: 500px !important;
}

.medium-img {
    display: block;
    max-width: 65% !important;
}

.big-img {
    display: block;
    min-width: 66% !important;
    max-width: 90% !important;
}

p {
    margin: 0px;
    padding: 0px;
}

.important { color: crimson; }

.imagerie { color: chocolate; }

.biologie { color: goldenrod; }

.diagnostic { color: blueviolet; }

.traitement { color: green; }

.homme { color: dodgerblue; }

.femme { color: hotpink; }


/*
** RESPONSIVE
*/

/* Telephone portrait (413px) */
@media(max-width: 413px) {
    * {
        font-size: 16px;
    }

    body {
        margin: 5px 12px 5px 5px;
    }

    #count {
        top: auto;
        right: 12px;
    }

    .front {
        font-size: 20px;
    }

    .front-side {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .back > ul, .back > ol { margin-top: 8px; }
}

/* Ordi 1/3 (503px), Telephone paysage (862px) */
@media(min-width: 414px) {
    * {
        font-size: 16px;
    }

    body {
        margin: 5px 12px 5px 5px;
    }

    #count {
        top: auto;
        right: 12px;
    }

    .front {
        font-size: 22px;
    }

    .front-side {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .back > ul, .back > ol { margin-top: 8px; }
}

/* Tablette, ordi 1/2 (720px) */
@media(min-width: 863px) {
    * {
        font-size: 18px;
    }

    #count {
        top: auto;
        right: 20px;
    }

    .front {
        font-size: 24px;
    }

    .front-side {
        font-size: 22px;
    }

    ul,
    ol {
        padding-left: 22px;
    }
}

/* Ordi 2/3 (980px), tablette portrait (1024px), tablette paysage (1366px) */
@media(min-width: 971px) {
    * {
        font-size: 18px;
    }

    #count {
        top: auto;
        right: 0px;
    }

    .front {
        font-size: 24px;
    }

    .front-side {
        font-size: 22px;
    }

    ul,
    ol {
        padding-left: 22px;
    }
}