/* GLOBAL */
* {
    font-family: "Times New Roman", arial;
    text-align: left;
    color: black;
    background-color: white;
}

.tags p {
    width: 96%;
    color: gray;
    text-align: left;
    font-size: 14px;
}

#count {
    width: 20px;
    display: inline-block;
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 0px 7px 0px 0px;
    text-align: right;
}

.front {
    border: 1px solid blue;
    margin: 2em 0 0 0;
    padding: 1em 0.1em 1em 0.1em;
    width: 100%;
    text-align: center;
}

.front-side {
    margin: auto;
    margin-bottom: 1em;
    padding: 0.2em 0.1em 0.2em 0.1em;
    width: 100%;
    border: 1px solid blue;
    text-align: center;
}

.back {
    text-align: left;
}

sub, sup {
    font-size: 60%;
}

.def {
    text-decoration-color: crimson;
}

strong, b, u {
    font-size: 1em;
}

em, i {
    font-size: 104%;
}

ul,
ol {
    padding-left: 17px;
}

ul li,
ol li {
    padding: 0.5em 0 0 0;
}

li:first-child {
    padding-top: 0px;
}

ul ul li,
ol ol li,
ul ol li,
ol ul li {
    font-size: 0.94em;
    padding: 0.3em 0 0 0;
}

ul ul ul,
ul ol ul,
ol ul ul,
ol ol ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 1em;
}

ul ul ul>li:before,
ul ol ul>li:before,
ol ul ul>li:before,
ol ol ul>li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

ul ul ul li,
ul ol ul li,
ol ul ul li,
ol ol ul li {
    font-size: 90%;
    padding: 0 0 0.15em 0;
}

img {
    vertical-align: text-top;
}

.small-img {
    display: block;
    max-width: 25%;
}

.medium-img {
    display: block;
    max-width: 50%;
}

.big-img {
    display: block;
    max-width: 90%;
}

p {
    margin: 0px;
    padding: 0px;
}

/* Telephone portrait */
@media(min-width: 0px) {
    * {
        font-size: 16px;
    }

    #count {
        right: 8px;
    }

    .front {
        font-size: 20px;
    }

    .front-side {
        font-size: 18px;
    }
}

/* Telephone paysage */
@media(min-width: 420px) {
    * {
        font-size: 16px;
    }

    #count {
        right: 10px;
    }

    .front {
        font-size: 22px;
    }

    .front-side {
        font-size: 20px;
    }
}

/* Ordi et tablette */
@media(min-width: 920px) {
    * {
        font-size: 18px;
    }

    .front {
        font-size: 24px;
    }

    .front-side {
        font-size: 22px;
    }

    ul,
    ol {
        padding-left: 22px;
    }
}