/* Telephone */
@media(min-width: 0px) {
	.card {
		font-family: "Times New Roman", arial;
		font-size: 1em;
		text-align: center;
		color: black;
		background-color: white;
		margin-top: 0;
	}

	.front {
		/* images */
	}

	.front-side {
		/* images */
	}

	.tags {
		color: gray;
		text-align:left;
		font-size: 10px;
	}

	.title {
		font-weight: bold;
		text-decoration: underline;
		text-align: center;
		font-size: 1.5em;
	}

	.back {
		text-align: left;
	}

	ul {
		padding-left: 1.2em;
	}

	ol {
		padding-left: 1.4em; 
	}

	ul li, ol li {
		padding-top: 0.5em;
	}

	li:first-child {
		padding-top: 0px;
	}

	ul ul li, ol ol li, ul ol li, ol ul li {
		font-size: 0.94em;
		padding: 0.2em 0 0 0;
	} 

	img {
		max-width: 90%;
		max-height: 90%;
		vertical-align: middle;
	}
}

@media(min-width: 400px) {
	.card {
		font-family: "Times New Roman", arial;
		font-size: 1em;
		text-align: center;
		color: black;
		background-color: white;
		margin-top: 0;
	}

	.front {
		/* images */
		font-size: 1.4em;
	}

	.front-side {
		/* images */
		font-size: 1.4em;
	}

	.tags {
		color: gray;
		text-align:left;
		font-size: 14px;
	}

	.title {
		font-weight: bold;
		text-decoration: underline;
		text-align: center;
		font-size: 1.4em;
	}

	.back {
		text-align: left;
		font-size: 1.4em;
	}

	ul {
		padding-left: 1em;
	}

	ol {
		padding-left: 1.2em; 
	}

	ul li, ol li {
		padding-top: 0.5em;
	}

	li:first-child {
		padding-top: 0px;
	}

	ul ul li, ol ol li, ul ol li, ol ul li {
		font-size: 0.94em;
		padding: 0.2em 0 0 0;
	} 

	img {
		max-width: 90%;
		max-height: 90%;
	}
}

/* Ordinateur */
@media(min-width: 700px) {
	.card {
		font-family: "Times New Roman", arial;
		font-size: 1em;
		text-align: center;
		color: black;
		background-color: white;
		margin-top: 0;
	}

	.front {
		font-size: 1em;
	}

	.front-side {
		font-size: 1em;
	}

	.tags {
		color: gray;
		text-align:left;
		font-size: 1em;
	}

	.title {
		font-weight: bold;
		text-decoration: underline;
		text-align: center;
		font-size: 1.5em;
	}

	.back {
		text-align: left;
		font-size: 1em;
	}

	ul {
		padding-left: 1em;
	}

	ol {
		padding-left: 1.2em; 
	}

	ul li, ol li {
		padding-top: 0.5em;
	}

	li:first-child {
		padding-top: 0px;
	}

	ul ul li, ol ol li, ul ol li, ol ul li {
		font-size: 0.94em;
		padding: 0.2em 0 0 0;
	} 

	img {
		max-width: 90%;
		max-height: 90%;
	}
}
