@font-face {
	font-family: "operator";
	src: url(OperatorMono-Book.woff);
}

body {
    /*background-color: #002b36;*/
	background-color: #f0f0f4;
		color: #262626;
    font: 16px "operator";
}

h1 {
    color: #d33682;
    text-align: center;
		display: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.search-container {
    width:408px;
    margin:auto;
    margin-bottom: 2em;
    padding: 6px 6px 0px 6px;
}

.search-bar {
    overflow:hidden;
    padding:0;
    width:100%;
    height:40px;
}

.group {
    display: block;
    margin: 0 0.5em 0 0.5em;
    padding-top: 0;
    padding-bottom: 1em;
    text-align: left;
}

.group::after {
	content: "}";
	color: #9a6cc4;
	padding-top: 0.5em;
}

.group-name {
    color: #9a6cc4;
    text-transform: lowercase;
    text-align: left;
    margin: 0px;
}

.group-name::before {
	content: ".";
	color: #9a6cc4;
}

.group-name::after {
	content: " {";
	color: #9a6cc4;
}

.site {
    padding: 0.5em 1em 0 1em;
}

.site a {
    text-decoration: none;
    color: #262626;
}

.site a:hover {
    font-weight: bold;
    color: #D4D4D4;
}

#prompt {
	display: inline;
}

form {
	display: inline;
}

input {
	background-color: #F0F0F4;
	color: #262626;
	border: 0px solid black;
	font: 15px "operator";
}
