/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
 * See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs */
/* Firefox 65+ only */

:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
	-moz-appearance: none !important;
	height: 0px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	-moz-box-align: stretch;
	margin: 0 !important;
}

#tabbrowser-tabs .tabbrowser-tab{ height: var(--tab-min-height) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
	visibility: collapse !important;
}

/* Extra top padding  in maximized window */
@media (-moz-os-version: windows-win10){
	:root[sizemode="maximized"] #navigator-toolbox{ padding-top:7px !important; }
}
/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
	transition: height 0ms steps(1) 80ms;
}
#nav-bar{
	border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}

/* hide navbar */
#nav-bar:not([customizing]){
	visibility: visible;
	margin-top: -42px;
	transition-delay: 1s;
	filter: alpha(opacity=0);
	opacity: 0;
	transition: visibility, ease 0.5s, margin-top, ease 0.5s, opacity, ease 0.5s !important;
}

/* 
 * keep visible when urlbar is focused
 * navbar is hovered
 * or menubar/customization is open
 * */

:root:not([customizing]) :hover > #nav-bar,
#nav-bar:focus-within,
#urlbar[focused="true"],
#identity-box[open="true"],
#navigator-toolbox:hover > #nav-bar:not([customizing]),
#toolbar-menubar:not([inactive="true"]) ~ #nav-bar:not([customizing]) {
	visibility: visible;
	margin-top: 0;
	filter: alpha(opacity=100);
	opacity: 100;
}

#nav-bar .toolbarbutton-1[open="true"]{

	visibility: visible;
	margin-top: 0px;
	opacity: 100;
}

/* hide scrollbar  
:-moz-any(#content,#appcontent) browser{
	margin-right:-17px!important;
	overflow-y:scroll;
	margin-bottom: 0px!important;
	overflow-x:scroll;
}
*/

